@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap");

/*

font-family: "Overpass", sans-serif;
font-weights: 400, 700;
hsl(215, 23%, 13%)
*/

:root {
	--orange: hsl(25, 97%, 53%);
	--white: hsl(0, 0%, 100%);
	--light-grey: hsl(217, 12%, 63%);
	--medium-grey: hsl(216, 12%, 54%);
	--dark-blue: hsl(213, 19%, 18%);
	--very-dark-blue: hsl(216, 12%, 8%);
}

/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
	font-weight: normal;
}

ul {
	list-style: none;
}

button,
input,
select {
	margin: 0;
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

img,
video {
	height: auto;
	max-width: 100%;
}

iframe {
	border: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

/* CUSTOM CSS - Mobile-First Approach: 375px */

body {
	min-height: 100vh;
	font-family: "Overpass", sans-serif;
	font-size: 1rem; /*16px*/
	font-weight: 400;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--very-dark-blue);
}

button {
	font-family: "Overpass", sans-serif;
}

.card * {
	margin-bottom: 1rem;
}

.card {
	height: 25.4rem;
	width: 100%;
	margin: 1rem;
	padding: 1.5rem;
	border-radius: 1rem;
	background-color: hsl(215, 23%, 13%);
}

.circle {
	height: 3.2rem;
	width: 3.2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background-color: var(--dark-blue);
}

.circle img {
	margin-bottom: 0;
}

h1,
h2 {
	color: var(--white);
	font-size: 1.6rem;
}

.card p {
	font-size: 0.85rem;
	font-weight: 700;
	line-height: 1.4rem;
	margin-bottom: 2rem;
	color: var(--light-grey);
}

.flex {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.rating {
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 3rem;
	width: 3rem;
	border-radius: 50%;
	color: var(--light-grey);
	background-color: var(--dark-blue);
}

.rating:hover {
	color: var(--white);
	transition: 0.4s ease-in-out;
	background-color: var(--orange);
}

.rating:focus {
	color: var(--white);
	background-color: var(--light-grey);
}

.submit {
	width: 100%;
	height: 3rem;
	border: none;
	padding: 0.5rem 0;
	border-radius: 1.5rem;
	color: var(--white);
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 0.2rem;
	background-color: var(--orange);
}

.submit:hover {
	color: var(--orange);
	transition: 0.4s ease-in-out;
	background-color: var(--white);
}

.hidden {
	display: none;
}

#thankycard {
	/* 	display: flex;
	display: ;
	flex-direction: column;
	align-items: center;
	justify-content: center; */
	text-align: center;
	padding: 2.5rem 1.5rem;
}

.rating-message {
	margin: 1rem 0;
}

.rating-message p {
	font-size: 1.05rem;
	font-weight: 400;
	text-align: center;
}

.rating-message p:first-child {
	padding: 0.6rem;
	margin: 0 5rem;
	border-radius: 1.5rem;
	background-color: var(--dark-blue);
	margin-bottom: 1.2rem;
	color: var(--orange);
}

h2 {
	text-align: center;
}

.rating-message p:last-child {
	margin-bottom: 0;
}

/* -- MEDIA QUERIES -- */

@media (min-width: 400px) {
	.card {
		width: 25rem;
	}
}

@media (min-width: 1200px) {
	.card {
		height: 30.5rem;
		width: 30rem;
		border-radius: 2rem;
		padding: 2rem;
	}

	.card * {
		margin-bottom: 1.5rem;
	}

	h1 {
		font-size: 2.2rem;
	}

	#ratingcard p {
		font-size: 1.1rem;
		line-height: 1.6rem;
	}

	.rating {
		height: 4rem;
		width: 4rem;
	}

	button {
		font-size: 1.1rem;
	}

	.rating-message h2 {
		margin: 2.5rem 0 1rem;
	}

	.rating-message p:last-child {
		font-size: 1.2rem;
		line-height: 1.8rem;
	}
}
